<div class="relative flex items-center flex-col gap-5 w-full text-center">
  <div
    class="flex flex-col gap-5 items-center bg-gradient-to-b from-secondary-100 to-white py-10"
  >
    <div class="flex flex-col items-center px-3 gap-3">
      <h3 class="text-xl font-bold text-secondary-700">Plans</h3>
      <h1 class="text-3xl font-bold">
        Choose the right plan that scales to your security needs
      </h1>
      <p class="font-light text-secondary-700 max-w-md">
        CyberGuard offers a wide range of flexible plans for businesses of all
        sizes!
      </p>
    </div>
    <div class="flex gap-20 pb-40 flex-wrap justify-center">
      <div
        class="flex flex-col items-center p-8 gap-5 w-80 bg-white shadow-2xl rounded-2xl text-sm"
      >
        <h3 class="font-bold text-3xl">Personal</h3>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>24/7 Customer Support</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>14 day free trial</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Access to CyberGuard Compliance and Monitoring</p>
        </div>
      </div>
      <div
        class="flex flex-col items-center p-8 gap-5 w-80 bg-white shadow-2xl rounded-2xl text-sm"
      >
        <h3 class="font-bold text-3xl">Business</h3>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>24/7 Customer Support</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Full access to CyberGuard tool suite</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Access to CyberGuard integrations suite</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>SSO Login</p>
        </div>
      </div>
      <div
        class="flex flex-col items-center p-8 gap-5 w-80 bg-white shadow-2xl rounded-2xl text-sm"
      >
        <h3 class="font-bold text-3xl">Enterprise</h3>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>24/7 Customer Support</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Full access to CyberGuard tool suite</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Access to CyberGuard integrations suite</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Full custom integration setup and optimization</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>SSO Login</p>
        </div>
        <div class="flex gap-3 items-center justify-left w-full text-left">
          <img class="h-6 w-6" src="/assets/check-mark.svg" alt="check-mark" />
          <p>Dedicated customer success manager</p>
        </div>
      </div>
    </div>
  </div>
  <img
    class="w-full -mb-[15vw] bg-transparent"
    src="/assets/wave-transition-black.svg"
    alt="wave-transition"
  />
  <div
    class="bg-secondary-800 w-full text-white flex flex-col sm:flex-row gap-10 justify-center items-center text-center px-5 pb-10 pt-5 sm:pt-0"
  >
    <div class="flex z-10 flex-col gap-3 max-w-md">
      <h2 class="font-extrabold text-3xl">Ready to get started?</h2>
      <p class="text-sm text-secondary-100">
        What are you waiting for? Jump right into a 14-day free trial today!
      </p>
    </div>
    <div class="flex z-10 gap-3 p-5 bg-secondary-700 rounded-full">
      <button
        routerLink="/signin"
        class="px-4 py-1 bg-primary-800 text-white font-semibold text-xl rounded-2xl"
      >
        Start Free Trial
      </button>
    </div>
  </div>
  <div class="bg-white w-full h-screen"></div>
  <img
    class="absolute bottom-0 w-full -mb-[10vw] bg-transparent"
    src="/assets/wave-transition-black.svg"
    alt="wave-transition"
  />
</div>
