<div
  class="relative flex items-center flex-col gap-5 w-full text-center bg-secondary-100"
>
  <div
    class="flex flex-col gap-10 items-center bg-gradient-to-b from-white to-secondary-100 py-20 w-full"
  >
    <div class="flex flex-col items-center px-3 gap-3">
      <h3 class="text-xl font-bold text-secondary-700">About Us</h3>
      <h1 class="text-3xl font-bold">Test</h1>
      <p class="font-light max-w-md">Test</p>
    </div>
  </div>
  <img
    class="absolute bottom-0 w-full -mb-[10vw]"
    src="/assets/wave-transition-black.svg"
    alt="wave-transition"
  />
</div>
