<div
  class="z-50 sticky shadow-xl top-0 flex justify-center items-center text-secondary-100 w-full h-14 bg-secondary-800 p-3"
>
  <button class="absolute left-3 flex items-center" routerLink="/">
    <img class="w-10 h-10" src="/assets/logo.svg" alt="Logo" />
    <h3 class="text-xl font-bold text-white">CyberGuard</h3>
  </button>
  <div class="hidden md:flex gap-1 text-sm">
    <button
      routerLink="/solutions"
      class="rounded-lg bg-secondary-700 px-4 py-1 font-semibold"
    >
      Solutions
    </button>
    <button
      routerLink="/plans"
      routerLinkActive="bg-secondary-100"
      class="rounded-lg bg-secondary-700 px-4 py-1 font-semibold"
    >
      Plans
    </button>
    <button
      routerLink="/about"
      class="rounded-lg bg-secondary-700 px-4 py-1 font-semibold"
    >
      About us
    </button>
  </div>
  <div class="absolute right-3 flex gap-2 items-center">
    <button
      routerLink="/signin"
      class="hidden md:flex px-4 py-1 font-semibold bg-secondary-700 rounded-2xl"
    >
      Sign In
    </button>
    <button
      routerLink="/book"
      class="hidden shadow-xl sm:flex px-4 py-1 bg-primary-800 text-white font-extrabold text-xl rounded-2xl"
    >
      Book Demo
    </button>
    <button class="md:hidden px-4 py-1 bg-secondary-700 rounded-lg">
      <img class="h-7 w-7" src="/assets/menu.svg" alt="Menu" />
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<div class="bottom-0">
  <div
    class="bg-gray-800 text-white flex flex-col gap-5 justify-center items-center text-center px-5 pb-10 pt-5 sm:pt-0"
  >
    <div class="flex z-10 flex-col gap-3 max-w-md">
      <h2 class="font-extrabold text-3xl">Simplify your security</h2>
      <p class="font-light text-sm text-gray-200">
        Contact us today to get started with your all-in-one enterprise security
        solution, to manage data and security with confidence.
      </p>
    </div>
    <div class="flex z-10 gap-3">
      <button
        routerLink="/signin"
        class="px-4 py-1 bg-secondary-800 text-secondary-100 font-semibold text-xl rounded-2xl"
      >
        Try now
      </button>
      <button
        routerLink="/book"
        class="px-4 py-1 shadow-xl bg-primary-800 text-white font-extrabold text-xl rounded-2xl"
      >
        Book Demo
      </button>
    </div>
  </div>
  <div
    class="w-full bg-secondary-800 text-secondary-100 p-10 pb-16 flex flex-col gap-5 text-sm text-center sm:text-left items-center"
  >
    <div
      class="flex gap-10 w-full flex-col sm:flex-row items-center sm:items-start"
    >
      <div class="flex col-span-2 items-center">
        <img class="w-10 h-10" src="/assets/logo.svg" alt="Logo" />
        <h3 class="text-xl font-bold text-white">CyberGuard</h3>
      </div>
      <div
        class="flex sm:justify-evenly flex-wrap w-full justify-center gap-5 sm:items-start"
      >
        <div class="flex flex-col items-center">
          <h3 class="rounded-lg font-semibold bg-secondary-700 px-4 py-1 w-fit">
            Connect
          </h3>
          <div class="text-white text-lg md:text-xs flex flex-col gap-2 p-3">
            <a href="https://twitter.com">Twitter</a>
            <a href="https://youtube.com">Youtube</a>
            <a href="https://instagram.com">Instagram</a>
            <a href="https://facebook.com">Facebook</a>
            <a href="https://linkedin.com">LinkedIn</a>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <h3 class="rounded-lg font-semibold bg-secondary-700 px-4 py-1 w-fit">
            Company
          </h3>
          <div class="text-white text-lg md:text-xs flex flex-col gap-2 p-3">
            <a href="#" routerLink="/about">About Us</a>
            <a>Careers</a>
            <a>Trust Center</a>
            <a>Contact Us</a>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <h3 class="rounded-lg font-semibold bg-secondary-700 px-4 py-1 w-fit">
            Help & Support
          </h3>
          <div class="text-white text-lg md:text-xs flex flex-col gap-2 p-3">
            <a>FAQ</a>
            <a>Help Center</a>
            <a>Customer Success</a>
            <a>Report a bug</a>
            <a>Bug Bounty</a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3 text-sm sm:text-xs w-full">
      <div class="h-0.5 bg-secondary-700 w-full rounded-full"></div>
      <div class="flex flex-col sm:flex-row gap-3 justify-between">
        <div class="flex gap-1 justify-center">
          <p>(c) 2023 CyberGuard</p>
          <p>|</p>
          <a href="https://proctorinc.dev">ProctorInc</a>
        </div>
        <div class="flex gap-1 flex-col sm:flex-row">
          <a>privacy policy</a>
          <p class="hidden sm:flex">|</p>
          <a>cookie policy</a>
          <p class="hidden sm:flex">|</p>
          <a>accessibility</a>
          <p class="hidden sm:flex">|</p>
          <a>legal</a>
          <p class="hidden sm:flex">|</p>
          <a>site map</a>
        </div>
      </div>
    </div>
  </div>
</div>
